<br>
<br>
<br>
<div style="margin-left:100px" class=" pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Kullanıcı Detayları Düzenleme</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group">

            <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">Go Back</button>
        </div>
    </div>
</div>
<div style="margin-left:100px" class="row">
    <div class="col-lg-12">
        <div class="pricing-header form-block mx-auto">
            <form [formGroup]="editForm" (ngSubmit)="onUserFormSubmit()" novalidate>
                <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
                    <thead>
                        <tr>
                            <th scope="col">Fotoğraf</th>
                            <th scope="col">Kullanıcı Adı</th>
                            <th scope="col">Kullanıcı email</th>
                            <th scope="col">Evcil Hayvan</th>
                            <th class="text-center" scope="col">Kaydet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{user.photoURL}}</th>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <select id="petId" class="form-control">
                                <option *ngFor="let pet of petList">{{pet.name}}</option>
                            </select>
                            <td *ngIf="!user.petName">Evcil Hayvan yok</td>
                            <td class="text-center action-block">
                                <button type="submit" class="btn btn-primary" style="margin-right:5px"
                                    routerLink="/view-users/{{user.id}}">Kaydet</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>