<div class="container-fluid" *ngIf="authService.isLoggedIn()">
    <div class="row">
        <nav class="col-md-2 d-md-block bg-light sidebar" style="margin-top: 70px;">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/add-pet" routerLinkActive="active">
                            <i class="fas fa-plus"></i>Evcil Hayvan Ekle
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/view-pets" routerLinkActive="active">
                            <i class="fas fa-list-ul"></i>Evcil Hayvan Listele
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/add-user" routerLinkActive="active">
                            <i class="fas fa-list-ul"></i>Kullanıcı Ekle
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/view-users" routerLinkActive="active">
                            <i class="fas fa-list-ul"></i>Kullanıcı Listele
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/detail-user" routerLinkActive="active">
                            <i class="fas fa-list-ul"></i>User Detail
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Main content -->
        <main role="main" style="margin-top: 50px;" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="inner-adjust">

                <!-- Use router template to show the components for which router service is activated -->
                <router-outlet></router-outlet>
                <!-- <app-add-user></app-add-user> -->
            </div>
        </main>
    </div>
</div>