<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Kullanıcı Kayıt</h1>
    <p class="custom-text">Kayıt İşlemleri <strong>Pet management system</strong> built with <strong>Angular 10
            and Firebase</strong></p>
</div>

<!-- Student form -->
<form [formGroup]="usersForm" (ngSubmit)="submitUserData()" novalidate>
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="row">

                <div class="col-md-12 mb-3">
                    <label>İsim</label>
                    <input type="text" formControlName="name" class="form-control" required>
                    <!-- Showing errors using getter method -->
                    <p *ngIf="name?.touched && name?.invalid" class="error"><sup>*</sup>Lütfen isminizi giriniz
                    </p>
                    <p *ngIf="name?.errors?.minlength" class="error"><sup>*</sup>İsim alanı 2 karakterden büyük olmalı
                    </p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12 mb-3">
                    <label>Email</label>
                    <input type="email" formControlName="email" class="form-control" required>
                    <!-- Showing errors using getter method -->
                    <p *ngIf="email?.errors?.pattern" class="error"><sup>*</sup>Lütfen geçerli bir email giriniz</p>
                </div>

                <div class="col-md-12 mb-3">
                    <label>Fotoğraf</label>
                    <input type="text" formControlName="photoURL" class="form-control" required>
                    <!-- Showing errors using getter method -->
                    <p *ngIf="photoUrl?.touched && photoUrl?.invalid" class="error"><sup>*</sup>bir resim url giriniz
                    </p>
                </div>

            </div>

            <div class="form-group text-right">
                <button type="button" class="btn btn-warning mr-2" (click)="ResetForm()">Sıfırla</button>
                <button type="submit" class="btn btn-primary" [disabled]="!usersForm.valid">Kayıt Ol</button>
            </div>

        </div>
    </div>
</form>