<br>
<br>
<br>
<div style="margin-left:100px" class=" pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Evcil Hayvan Detayları Düzenleme</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group">

            <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">Geri Git</button>
        </div>
    </div>
</div>
<div style="margin-left:100px" class="row">
    <div class="col-lg-12">
        <div class="pricing-header form-block mx-auto">
            <form [formGroup]="editForm" (ngSubmit)="onPetFormSubmit()" novalidate>
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <div class="row">

                            <div class="col-md-12 mb-3">
                                <label>İsim</label>
                                <input type="text" formControlName="name" class="form-control" required>
                                <p *ngIf="name?.touched && name?.invalid" class="error">
                                    <sup>*</sup>Lütfen boş bırakmayınız
                                </p>
                                <p *ngIf="name?.errors?.minlength" class="error">
                                    <sup>*</sup>isim 2 kelimeden fazla olmalı
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Hayvan Türü</label>
                                <input type="string" formControlName="animalType" class="form-control" required>
                                <p *ngIf="animalType?.touched && animalType?.invalid" class="error"><sup>*</sup>Lütfen
                                    boş bırakmayınız
                                </p>
                                <p *ngIf="animalType?.errors?.pattern" class="error"><sup>*</sup>Lütfen boş bırakmayınız
                                </p>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label>Hayvan Sahibi Adı</label>
                                <input type="text" formControlName="userName" class="form-control" required>
                                <p *ngIf="userName?.touched && userName?.invalid" class="error">
                                    <sup>*</sup>Lütfen boş bırakmayınız
                                </p>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label>PhotoUrl</label>
                                <input type="text" formControlName="photoUrl" class="form-control" required>
                                <p *ngIf="photoUrl?.touched && photoUrl?.invalid" class="error">
                                    <sup>*</sup>Lütfen boş bırakmayınız
                                </p>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-success btn-block" [disabled]="!editForm.valid">
                                Evcil Hayvanı Güncelle
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>