<br>
<br>
<br>
<div style="margin-left:100px" class="btn-group">
    <!-- goBack() methos to back to previous component -->
    <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">Go Back</button>
</div>
<div style="margin-left:100px"
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Evcil Hayvan Listesi</h1>
    <a routerLink="/view-pet" class="btn btn-success" *ngIf="hideWhenNoPet">
        <i class="fas fa-plus custom-fa-plus"></i>
        Evcil Hayvan ekle
    </a>
</div>

<div style="margin-left:100px" class="pricing-header mx-auto">

    <div class="no-data text-center" *ngIf="noData">

        <p class="nodata-msg">Henüz bir evcil hayvan eklenmedi!</p>
        <a routerLink="/register-user" class="btn btn-success">
            <i class="fas fa-plus custom-fa-plus"></i>
            Evcil Hayvan ekle
        </a>
    </div>

    <div style="margin-left:100px" class="table-responsive">
        <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col">Evcil Hayvan Id</th>
                    <th scope="col">Evcil Hayvan Adı</th>
                    <th scope="col">Sahip Adı</th>
                    <th scope="col">Hayvan Türü</th>
                    <th scope="col">Fotoğraf</th>
                    <th class="text-center" scope="col">Düzenle</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pet of petList | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
                    <th scope="row">{{pet.id}}</th>
                    <td>{{pet.name}}</td>
                    <td *ngIf="pet.userName">{{pet.userName}}</td>
                    <td *ngIf="!pet.userName">Sahipsiz</td>
                    <td>{{pet.animalType}}</td>
                    <img *ngIf="pet.photoUrl" src="{{pet.photoUrl}}" style="width:50px; height:50px">
                    <td *ngIf="!pet.photoUrl">Resim Yok</td>
                    <td class="text-center action-block">
                        <button type="submit" class="btn btn-primary" routerLink="/edit-pet/{{pet.id}}"></button>

                        <button type="submit" class="btn btn-primary" (click)=" deleteUser(pet)"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination-controls style="margin-left:100px" (pageChange)="p = $event" AutoHide="true" Responsive="true">
    </pagination-controls>
</div>