<br>
<br>
<br>
<br>
<br>
<br>

<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <a (click)="logout()" class="btn btn-primary">Logout</a>
    </div>
</nav>
<h1 class="header">Logged User Page</h1>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top image" [src]="user.photoURL" *ngIf="user.photoURL" alt="User image">
            <img class="card-img-top image" src="https://avatars.githubusercontent.com/u/54598461?v=4"
                *ngIf="!user.photoURL" alt="User image">
            <div class="card-body">
                <h4 class="card-title">{{user.name}}</h4>
            </div>
            <div *ngIf='user.password == "password"' class="card-body">
                <form [formGroup]="profileForm">
                    <div class="form-group">
                        <label>İsminiz</label>
                        <input type="text" formControlName="name" class="form-control" required>
                    </div>
                </form>
                <a (click)="save(profileForm.value)" class="btn btn-primary">Kaydet</a>
            </div>
        </div>
    </div>
</div>